// fonts 
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Quicksand:wght@300&display=swap');

$mainFont:  'Arvo', serif;
$font: 'Quicksand', sans-serif;

// colors 
$mainColor: #fe346e;
$nth-color: #400082;
$dark: #1b262c;
$light: #fff;
$lightGray: #f1f3f4;
$confirmed: #ffa41b;
$death: #ff2e63;
$recovered: #21bf73;

// breakpoints
$tablet: 888px;
$mobile: 480px;
$smallMobile: 360px;