@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Quicksand:wght@300&display=swap");
.navigation .brand {
  font-size: 2rem;
}

.navigation .menu .menu-link {
  margin: 0 10px;
}

.navigation .menu .donate {
  color: #fff;
  padding: 10px 20px;
  background-color: #fe346e;
}

.navigation .menu .donate:hover {
  background-color: #cb013b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mobile-menu {
  padding: 1% 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

@media (min-width: 888px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu .toggler {
  text-align: center;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.mobile-menu .toggler .fas {
  line-height: .1;
}

.sidebar-menu {
  width: 100%;
  max-width: 300px;
  height: 100vh;
  padding: 4% 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  z-index: 1000;
}

.sidebar-menu .brand a {
  font-size: 1.5rem;
  padding: 0 20px;
}

.sidebar-menu .menu {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar-menu .menu .menu-link {
  padding: 10px 20px;
  width: 300px;
  max-width: 100%;
}

.sidebar-menu .menu .menu-link:hover {
  background-color: #e6e6e6;
}

.sidebar-menu .close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f1f3f4;
  color: #fe346e;
  line-height: .3;
  padding: 2px;
  border-radius: 50%;
  font-size: 1.4rem;
  text-align: center;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.sidebar-menu .close:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.sidebar-menu .footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.sidebar-menu .footerLinks h4 {
  font-family: "Quicksand", sans-serif;
  margin: 10px 0;
}

.sidebar-menu .footerLinks .f-link {
  font-size: 1.3rem;
  margin: 0 5px;
}

a {
  color: #1b262c;
  text-decoration: none;
  font-family: "Arvo", serif;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

a:hover {
  color: #fe346e;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Quicksand", sans-serif;
}

.navigation {
  padding: 2% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

@media (max-width: 888px) {
  .navigation {
    display: none;
  }
}

.navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navigation .menu .donate:hover, .sidebar-menu {
  -webkit-box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04), 0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06), 0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04), 0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 17.9px rgba(0, 0, 0, 0.06), 0 0px 33.4px rgba(0, 0, 0, 0.072), 0 0px 80px rgba(0, 0, 0, 0.1);
}

html,
body,
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html:focus,
body:focus,
*:focus {
  outline: none;
}

body {
  background-color: #f1f3f4;
}

.welcome-section {
  height: 80vh;
  padding: 3%;
  background-image: url("https://images.unsplash.com/photo-1585194744388-2f37af9a80dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  padding: 3%;
}

.container .dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .dashboard .dashboard-card {
  padding: 3%;
  height: 100px;
}

.container .dashboard .dashboard-card::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: black;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  z-index: -1;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.container .dashboard .dashboard-card:hover::after {
  height: 100%;
}

.container .dashboard .main {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.container .dashboard .main .dashboard-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .dashboard .main .dashboard-card-content #country {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
  border: none;
  background-color: #f2f2f2;
  padding: 5px 10px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.container .dashboard .main .dashboard-card-content .img,
.container .dashboard .main .dashboard-card-content #country,
.container .dashboard .main .dashboard-card-content .countryName {
  margin-bottom: 20px;
}

.container .dashboard .main .dashboard-card-content .img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .dashboard .main .dashboard-card-content .longitude,
.container .dashboard .main .dashboard-card-content .latitude,
.container .dashboard .main .dashboard-card-content .iso {
  padding: 5px;
  text-align: center;
  color: #fff;
  font-family: "Arvo", serif;
  font-size: .9rem;
}

.container .dashboard .main .dashboard-card-content .latitude {
  background-color: #fe014a;
}

.container .dashboard .main .dashboard-card-content .longitude {
  background-color: #ff9a02;
}

.container .dashboard .main .dashboard-card-content .iso {
  background-color: #1da966;
}

.container .dashboard .main .dashboard-card-content #code_iso,
.container .dashboard .main .dashboard-card-content #lat,
.container .dashboard .main .dashboard-card-content #long {
  background-color: #f1f3f4;
  padding: 5px 10px;
  font-family: "Quicksand", sans-serif;
}

.container .dashboard .dashboard-card,
.container .dashboard .main {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.container .dashboard .dashboard-card .dashboard-card-content,
.container .dashboard .main .dashboard-card-content {
  text-align: center;
}

.container .dashboard .dashboard-card #tC,
.container .dashboard .dashboard-card #tR,
.container .dashboard .dashboard-card #tD,
.container .dashboard .main #tC,
.container .dashboard .main #tR,
.container .dashboard .main #tD {
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 10px;
  font-family: "Arvo", serif;
  margin-right: 10px;
}

.container .dashboard .Confirmed::after {
  background-color: #ffa41b;
}

.container .dashboard .Recovered::after {
  background-color: #21bf73;
}

.container .dashboard .Deaths::after {
  background-color: #ff2e63;
}
/*# sourceMappingURL=index.css.map */